@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

body{
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-family: 'LeagueGothic', 'sans-serif';
}


/*HEADER*/
.header-wrapper{
    height: 100vh;
    width: 100%;
    background: linear-gradient(-45deg , #8904B1,#5858FA, #0c4f64, #BCA9F5);
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: backgroundTransition 8s ease-in-out infinite;
}
h1{
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
}
.social-media{
    margin-top:  1rem;
    display: flex;

}
.social-media a{
    text-decoration: none;
    color: #2e1c2b;
    font-size: 24px;
    padding: 1rem 4rem;
    border: 1px solid white;
    min-width: 4rem;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
}

a:hover{
    color: #022221;
    background-color: #ffffff;
}







/*ANIMATIONS*/
@keyframes backgroundTransition{
    0%{
        background-position: 0% 80%;
    }
    50%{
        background-position: 80% 100%;
    }
    100%{
        background-position: 0% 90%;
    }
}




/*MENU-HAMBURGUER*/
.checkbox-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}

.checkbox .trace{
    width: 50px;
    height: 2px;
    background-color:#ffffff;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out ;
}

.checkbox .trace:nth-child(1){
    top: 26px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(2){
    top: 46px;
    transform: rotate(0);
}
.checkbox .trace:nth-child(3){
    top: 66px;
    transform: rotate(0);
}

#toggle{
    display: none;
}

.menu{
    position:absolute;
    top: 20px;
    right: 30px;
    background: transparent;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px #ffffff;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}

.menu-items{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}


.menu-items ul{
    list-style-type: none;
}

.menu-items  ul li a {
    margin: 10px 0;
    color: #2e1c2b;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}

/*ANIMAÇÃO DO MENU*/
#toggle:checked + .checkbox .trace:nth-child(1){
    transform: rotate(45deg);
    background-color: #2e1c2b;
    top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2){
    transform: translateX(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3){
    transform: rotate(-45deg);
    background-color: #2e1c2b;
    top: 48px;
}



#toggle:checked + .checkbox {
    background-color: white;
    
}

#toggle:checked ~ .menu{
    box-shadow: 0px 0px 0px 100vmax white;
    z-index: 1;
}

#toggle:checked ~ .menu-items {
    visibility: visible;
    opacity: 1;
}


/*cards*/

.container{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
}

.card-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%
}

.card{
    height:300px;
    width: 400px;
    margin: 3rem 0 0 ;
    background-image: url('./pc-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(0.5);
    color: #ffffff;
    cursor: pointer; 
    transition: 0.3s ;
}

.card-text{
    width: 40%;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: rgb(109,109,109)
}


.card:hover {
    filter: unset;
}


.card-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.card-wrapper::before{
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    border: 1px solid #ffffff;
    opacity: 0;
    transition: 0.3s;
}


.card-wrapper h2{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.3s;
}

.card-wrapper p {
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}


.card:hover > .card-wrapper::before{
    height: 250px;
    width: 350px;
    opacity: 1;

}

.card:hover > .card-wrapper p{
    font-size: 14px;
    opacity: 1;
    visibility: visible;
}

/* footer */
.footer{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2e1c2b;
}


/* responsive */

@media (max-width: 800px){
    .social-media{
        display: flex;
        flex-direction: column;
    }
    .container{
        margin-top: 0;
    }
    .card-container{
        flex-direction: column;

    }
    .container .card-container:nth-last-child(1),
    .container .card-container:nth-last-child(2){
        flex-direction: column-reverse;
    }

    .card{
        height: 250px;
        width: 250px;
    }

    .card-text{
        width: 90%;
        margin-top: 2rem; 
        text-align: center;
    }
    .card-wrapper h2{
    
        width: 90%;
        text-align: center;
    }

    .card:hover > .card-wrapper::before{
        height: 90px;
        width: 90px;
    }
}
